.place__title {
  font-style: normal;
  font-weight: 900;
  grid-column: 1;
  grid-row: 1;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__title {
    max-width: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .place__title {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    max-width: 440px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 340px;
    margin: 50px 16px 32px;
  }

  .place__title:first-of-type {
    margin-top: 0;
  }
}